
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable skip-nav">Skip to main content</a>
  </div>

  <div id="wrapper">
    <div id="header" role="banner"><!-- header -->
      <div class="girdle">
        <h1>Welcome to Layla's Page!</h1>
        <span id="slogan">
          <em>Ensuring the web remains accessible for all.</em>
        </span>
      </div>
      <div id="topNavigation">
        <div class="girdle">
          <div class="region region-topnav">
            <div id="block-system-main-menu" class="block block-system block-menu">
              <nav role="navigation"><!-- navigation -->
                <ul class="menu">
                  <li class="info_link">  
                    <%= link_to "About Us", controller: "missions" %>
                  </li>
                  <li class="contact_link">
                    <%= link_to "Contact Us", controller: "posts" %>
                  </li>
                  <li class="content_link">
                    <%= link_to "Forms We Offer", controller: "forms" %>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="maincontent" role="main"><!-- main content -->
    <%= image_tag("munchkins.png", :alt => "Layla, at age twelve, with her family") %>
  </div>

  <footer role="contentinfo"><!-- footer -->
    <div>Copyright © 2013</div>
  </footer>
