
// <style>
// header,footer,nav,article,aside,section,figure,figcaption{display:block;}
// </style>

#page_introduction {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-top: 0;
	background-color: #000000;
	color: #FFFFFF;
}

h1 {
	font-size: 64px;
	padding: 0;
}
