<div id="skip-link">
  <a href="#company_description">Skip to main content</a>
</div>

<div id="about_wrapper">
  <div id="about_header" role="banner">
    <div class="about_girdle">
      <h1>About Us</h1>
        <span id="about_slogan">
          <em>Ensuring the web remains accessible for all.</em>
        </span>
    </div>
  </div>
</div>

<!-- navigation -->
<div role="navigation" id="about_nav_wrapper">
    <div class="about_girdle">
        <!-- <div class="region region-topnav">
          <div id="about-block-system-main-menu" class="block block-system block-menu"> -->
              <ul class="about_menu">
                <li class="home_link">  
                  <%= link_to 'Home Page', controller: "visitor" %>
                </li>
                <li class="contact_link">
                  <%= link_to "Contact Us", controller: "posts" %>
                </li>
                <li class="content_link">
                  <%= link_to "Forms We Offer", controller: "forms" %>
                </li>
              </ul>
        <!-- </div>
      </div> -->
    </div>
</div>
<!-- End of navigation -->

<div id="company_description" role="main">
  <p>Founded in 2013, Layla's Page creates stream-lined, functional online forms with accessibility frameworks automatically built in. All of our forms are fully customizable and can be accessed by most screen readers and web browsers.</p>
</div>

